/**
 * Component styles
 */

.jsx-SearchBar {
  background-color: #FFF;
  border-bottom: 1px solid #DDD;

  &__spacer {
    background-color: #262626;
    height: 28px;
    margin: 0 16px;
    width: 1px;
  }

  &--padding {
    padding: 26px 20px;
  }

  &__input {
    background-color: #FAFAFA;
    border-radius: 5px;
    border: 1px solid #DBDBDB;
    color: #999;
    font-weight: 300;
    padding: 7px;
    text-align: center;
  }
}
