/**
 * Component styles
 */

.jsx-LoginForm {
  margin-top: 80px;

  &__input {
    background-color: #FAFAFA;
    border-radius: 5px;
    border: 1px solid #DBDBDB;
    font-weight: 300;
    padding: 7px;
    margin: 5px;
    text-align: center;
  }
}

.jsx-LoginForm input {
  height: 30px;
  outline: none;
  border-radius: 3px;
  padding: 5px 10px;
}

.jsx-LoginForm input:focus {
  border: 1px solid #acd4fa;
}

.jsx-LoginForm button {
  background-color: #DBDBDB;
  border: inherit;
  cursor: pointer;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  width: 190px;
  font-weight: 600;
}

.jsx-LoginForm button:hover {
  background-color: #cbcbcb;
}

.jsx-LoginForm button:active {
  background-color: #ababab;
}
