/**
 * Component styles
 */

.jsx-Comment {
  padding: 0 16px;

  &__button {
    background-color: inherit;
    border: inherit;
    outline: none;
    cursor: pointer;
    color: #DDD;
  }

  &__button:hover {
    color: #AAA;
  }
}
